.part
  %h2 Projects
  .links
    = link_to 'https://silp.com', 'Silp'
  .links
    = link_to 'http://photobattle.net', 'Photobattle'
  .links
    = link_to 'http://typoschnauz.com', 'Typoschnauz'
    = link_to 'https://www.facebook.com/pages/I-like/100335050011856', 'I like'
  .links
    = link_to 'http://legal-walls.net', 'Legal Walls'
    = link_to 'https://www.facebook.com/RailsGirlsSwitzerland', 'Rails Girls'
  .links
    = link_to 'https://itunes.apple.com/ch/app/segelflugtheorie-schweiz/id622228158?l=en&mt=8', 'Segelflugtheorie'

.part
  %h2 Profiles & Contact
  .links
    = link_to 'http://twitter.com/masone', 'Twitter'
    = link_to 'https://xing.com/profile/Christian_Felder2', 'Xing'
  .links
    = link_to 'https://facebook.com/christian.felder', 'Facebook'
    = link_to 'http://github.com/masone', 'Github'

.part
  %h2 Leisure
  .links
    = link_to 'https://www.facebook.com/agozarblog', 'Agozar'
    = link_to 'https://instagram.com/masone', 'Graffiti'
  .links
    = link_to 'http://www.flickr.com/photos/masone/show/', 'Lomography'
