.part
  %h2 Projects
  .links
    =# link_to 'https://www.silp.co', 'Silp'
    = link_to 'http://online-diaries.de', 'Online Diaries'
  .links
    = link_to 'http://photobattle.net', 'Photobattle'
    = link_to 'http://legal-walls.net', 'Legal Walls'
  .links
    = link_to 'http://itunes.apple.com/de/app/segelflugtheorie/id411195285', 'Segelflugtheorie'
    = link_to 'http://skill-bill.ch', 'Skill Bill'
  .links
    = link_to 'http://typoschnauz.com', 'Typoschnauz'
    = link_to 'https://www.facebook.com/pages/I-like/100335050011856', 'I like sticker'

.part
  %h2 Profiles & Contact
  .links
    = link_to 'http://twitter.com/masone', 'Twitter'
    = link_to 'https://xing.com/profile/Christian_Felder2', 'Xing'
  .links  
    = link_to 'https://facebook.com/christian.felder', 'Facebook'
    = link_to 'http://github.com/masone', 'Github'

.part
  %h2 Leisure
  .links
    = link_to 'http://agozar.tumblr.com', 'Agozar'
    = link_to 'http://www.flickr.com/photos/masone_trash/sets/72157627726517609/show', 'Graffiti'
  .links  
    = link_to 'http://www.flickr.com/photos/masone/sets/72157626540692995/show', 'Lomography'