.part
  %h2 Projects
  .links
    = link_to 'https://silp.com', 'Silp'
  .links
    = link_to 'https://livingdocs.io', 'Livingdocs'
  .links
    = link_to 'http://photobattle.net', 'Photobattle'
  .links
    = link_to 'https://www.facebook.com/RailsGirlsSwitzerland', 'Rails Girls'
  .links
    = link_to 'http://typoschnauz.com', 'Typoschnauz'
  .links
    = link_to 'http://legal-walls.net', 'Legal Walls'
  .links
    = link_to 'https://itunes.apple.com/ch/app/segelflugtheorie-schweiz/id622228158?l=en&mt=8', 'Segelflugtheorie'


.part
  %h2 Profiles & Contact
  .links
    = link_to 'http://twitter.com/masone', 'Twitter'
  .links
    = link_to 'https://www.linkedin.com/profile/view?id=420689019', 'Linkedin'
  .links
    = link_to 'http://github.com/masone', 'Github'

.part
  %h2 Leisure
  .links
    = link_to 'http://lomo.cfelder.com', 'Lomography'
  .links
    = link_to 'https://instagram.com/masone', 'Graffiti'
