.part
  %h2 Projects
  .links
    =# link_to 'https://www.silp.co', 'Silp'
    = link_to 'http://online-diaries.de', 'Online Diaries'
  .links
    = link_to 'https://photobattle.new', 'Photobattle'
    = link_to 'https://legalwalls.net', 'Legal Walls'
  .links
    = link_to 'http://itunes.apple.com/de/app/segelflugtheorie/id411195285', 'Segelflugtheorie'
    = link_to 'https://skill-bill.ch', 'Skill Bill'
  .links
    = link_to 'https://typoschnauz.com', 'Typoschnauz'

.part
  %h2 Profiles & Contact
  .links
    = link_to 'http://twitter.com/masone', 'Twitter'
    = link_to 'https://xing.com/profile/Christian_Felder2', 'Xing'
  .links  
    = link_to 'https://facebook.com/christian.felder', 'Facebook'
    = link_to 'http://github.com/masone', 'Github'

.part
  %h2 Leisure
  .links
    = link_to 'http://agozar.tumblr.com', 'Agozar'
    = link_to 'https://flickr.com/photos/jesa', 'Graffiti'
  .links  
    = link_to 'https://flickr.com/photos/masone', 'Lomography'

