!!!
%html
  %head
    %title Christian Felder (masone)

    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    %meta{:content => "INDEX,FOLLOW", :name => "robots"}/
    %meta{:content => "web app developer, entrepreneur, analogue photographer, glider pilot", :name => "description"}/
    %meta{:content => "masone, christian, felder, lomography, programming, ruby, rails, graffiti", :name => "keywords"}/

    %link{:href => "http://www.myopenid.com/server", :rel => "openid.server"}/
    %link{:href => "http://masone.myopenid.com/", :rel => "openid.delegate"}/
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}/        	

    = stylesheet_link_tag 'site.css'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js', 'site.js'
    = yield_content :head

  %body{:class => page_classes}
  
    #container
      .line
        .main
          \&nbsp;
        .sidebar.logo
          %h1= link_to 'http://masone.ch', 'Christian Felder', :id => 'logo'
          %p
            web app developer, entrepreneur, 
            %br/
            analogue photographer, glider pilot
      .line
        .main
          = yield
        .sidebar        
          \&nbsp;      
      
        
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-666008-4']);
      _gaq.push(['_trackPageview']);
      (function() {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();